@import url('https://fonts.googleapis.com/css?family=Roboto:light,regular,medium');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-weight: 400;
}

:root {
  --redux-color: #764abc;
}

html {
  height: 100%;
}
body {
  height: 100vh;
  min-height: 100vh;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div#root {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p, input {
  font-size: 1.1rem;
}

div, p {  
  margin: 0;
}

a {
  color: inherit; 
  text-decoration: none; 
}

a:hover,
a:active,
a:focus {
  color: inherit; 
  text-decoration: none; 
}

h1, h2 { 
  margin: 15px 0;
  color: #4072af;
}

label {
  margin: 0;
}

button {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  vertical-align: baseline;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  border-radius: 4px;
}

button:active, button:focus, button:hover {
  background-color: transparent;
  outline: none;
  border: none;
}

.button-icon:focus {
  color:#4072af;
}

li {
  list-style-type: none; 
}

/* Navbar */

.App {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #dae2ef; 
}

/* modals */
#modal-root {
  position: relative;
  z-index: 999;
}

.modalOverlay {
  background-color: rgba(0,0,0,0.35);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalWindow {
  border-radius: 4px;
  background-color: rgba(218,226,239,1);
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-shadow: 0 0 20px rgba(0,0,0,0.65);
  min-width: 700px;
  position: fixed;

}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px 5px;
  height: 45px;
  display: inline-block;
  border: 2px solid #4072af;
  border-radius: 4px;
  box-sizing: border-box;
  min-width: 300px;

}

select:required:invalid {
  color: gray;
}
option[value=""][disabled] {
  display: none;
}
option {
  color: black;
}
select[value=""] {
  color: gray
}


input[type=text]:hover,
textarea:hover,
select:hover {
  border: 2px solid #2b82ea;
}

label {
  color: #2b82ea;
  position: relative;
}

textarea {
  resize: none;
  height: 60px;
}

.layout-center {
  width: 60%;
  margin: 0px auto;
}

.modalHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.modalBody {
  display: flex;
  flex-direction: column;
  align-items:stretch;
}

.modalFooter {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: 7px;
}

.modalBody .name-category > label:first-child {
  margin-right: 20px;
}

label > .input-label {
    position: relative;
    top: 12px;
    right: -10px;
    background-color: rgba(218,226,239,1);
    color: #4072af;
    height: fit-content;
    padding: 0px 3px;
}

.input-label.req::after {
  content: "*";
  color: red;
}

.confirm-message {
  font-weight: 400;
}

.input-error {
  color: red;
  display: inline-block;
  position: absolute;
  left: 5px;
  top: 65px;
}

textarea + .input-error {
  top: 80px;
}

.label-error-dec {
  color: red !important;
}

.input-error-dec {
  border: 2px solid red !important;
}
/* buttons */

.modal-butt {
  padding: 10px 40px;  
}

.primary-butt {
  background-color: #4072af;
  color: #ffffff;
  margin-right: 20px;
}

.primary-butt:hover,
.primary-butt:focus {
  background-color: #2b82ea;
}

.primary-butt:active {
  background-color: #2b82ea;
}

.secondary-butt {
  background-color: inherit;
  color: #4072af;
  border: 2px solid #4072af;
  padding: 8px 40px;
}

.secondary-butt:hover,
.secondary-butt:focus {
  background-color: rgb(64, 114, 175, 0.25);

  border: 2px solid #2b82ea;
  color: #2b82ea;
}

.secondary-butt:active {
  background-color: #2b82ea;
  color: #ffffff;
}

/* header */


.header > nav {
  box-shadow: 0 0 10px 3px rgba(0,0,0,0.5);
  color: #ffffff;
  height: 75px;
  background: #4072af;
  white-space: nowrap
}

.nav-elems {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 30px;
  width: inherit;
  height: inherit;
  font-size: large;
}

.flex-grow-elem {
  flex-grow: 0;
  padding: 0 10px;
}

.home-link.flex-grow-elem {
  font-size: xx-large;
  flex-grow: 1;
}

.home-link.flex-grow-elem a {
  font-weight: 400;
}

.major-grow {
  flex-grow: 20;
}

li.flex-grow-elem.major-grow {
  border-left: 1px solid rgba(255,255,255,0.7);
  
}

.nav-elems li:not(:nth-child(1)) .header-butt{
  opacity: 0.7;
}

.nav-elems li:not(:nth-child(1)) .header-butt:hover{
  color: #ffffff;
  opacity: 1;
}


.nav-elems li:not(:nth-child(1)) a {
  text-decoration: underline;
}

.nav-elems li:not(:nth-child(1)) a:active,
.nav-elems li:not(:nth-child(1)) a:focus {
  color: #ffffff;
  opacity: 0.3;
}

/* elems of lists and lists */
#list, .main-block {
  display: flex;
  flex-direction: column;
  
}

.list-elem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.list-elem:hover {
  background-color: rgb(64, 114, 175, 0.1);
}

.list-elem-buttons {
  align-self: center;
  display: flex;
}

.elem-info {
  display: flex;
  flex-direction: column;
}

.name-category {
  display: flex;
  flex-direction: row;
}

.list-elem {
  border-bottom: 2px solid #4072af;
}

.elem-info, .list-elem-buttons {
  margin: 5px 15px 5px 30px;
}

.elem-info {
  margin-right: 0;
}

.icon {
  color: #4072af;
  font-size: .5rem;
}

.span-icon {
  padding-right:5px;
}

.button-icon:hover {
  font-size: .7rem;  
  color: #4072af;
}

.delete-button {
  margin-left: 15px;
}

.delete-button:hover {
  margin-left: 7px;
}

/* items text */

.items-category-text {
  color: #4072af;
  padding-left: 15px;
  padding-top: 3px;
}

.element-description {
  color: #8a8b8d;
}

.element-name {
  font-weight: 500;
}


